.enter-page {
  color: #ffbe00;
  text-align: center;
  font-family: welcome-theme-font;
  letter-spacing: 5px;
  font-size: x-large;
}

.button-door {
  color: #ffbe00;

  background: none;
  border: none;
}

.icon-door {
  fill: #ffbe00;
  width: 3rem;
  height: 3rem;
}
